@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

*{
  font-family: Dosis!important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: steelblue;
  height: 50px;
  line-height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input__username{
  margin: 40px auto 20px auto;
  border-radius: 4%;
  height: 1.5em;
  width: 12em;
  font-size: 16px;
  padding: 8px;
  border-style: groove;
  display: block;
}

.button__submit{
  border: None;
  border-radius: 8%;
  padding: 8px;
  background: crimson;
  color: #fff;
  font-size: 14px;
  box-shadow: 0;
  font-weight: 700;
}

.button__submit:hover{
  box-shadow: -1px 2px rgba(0,0,0,0.1);
  height: 90%;
  font-weight: 600;
}

.profile__image{
  width: 5em!important;
  border: 4px solid steelblue;
  margin: 20px auto 0 auto;
  padding: 4px;
  border-radius: 50%;
}

.title__subtitle{
  color: crimson;
}
